MYSQL_ROOT_PASSWORD=opstrax_root_password
MYSQL_DATABASE=opstrax
MYSQL_USER=opstrax_user
MYSQL_PASSWORD=opstrax_password
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_CONNECTION=Server=mysql;Port=3306;Database=opstrax;User=opstrax_user;Password=opstrax_password;Allow User Variables=True;
FRONTEND_PORT=10000
DOTNET_API_PORT=8088
NODE_EVENTS_PORT=8090
VITE_DOTNET_API_URL=http://localhost:8088
VITE_NODE_EVENTS_URL=http://localhost:8090
